[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "behavr"]
	path = behavr
	url = https://github.com/rethomics/behavr
[submodule "damr"]
	path = damr
	url = https://github.com/rethomics/damr
[submodule "ggetho"]
	path = ggetho
	url = https://github.com/rethomics/ggetho
[submodule "scopr"]
	path = scopr
	url = https://github.com/rethomics/scopr
[submodule "sleepr"]
	path = sleepr
	url = https://github.com/rethomics/sleepr
[submodule "zeitgebr"]
	path = zeitgebr
	url = https://github.com/rethomics/zeitgebr
